
body {

            background-color: #fefbd8;

            font-family: " Times New Roman",Times, serif;

            height: 100%;

            margin: auto;

            width: 100%;

        }

 

        .page-title {

            text-align: center;

            font-weight: 100;

        }

 

        hr {

            border: 0;

            height: 3px;

            background: black;

        }

 

        table {

            background-color: cornsilk;

            width: 100%;

        }

 

        a.fab {

            display: inline-block;

            border-radius: 20px;

            box-shadow: 0px 0px 2px black;

            padding: 0.3em 0.4em;

            background-color: white;

            font-size: 22px;

        }

 

        i.fa {

            font-size: 18px;

        }

 

        img {

            height: 250px;

            width: 280px;

            border-radius: 20%;

        }
