
body {
	background-color:#fefbd8;
	font-family:" Times New Roman",Times, serif;
	height: 100%;
	margin: auto;
	width: 100%;
}


.page-title {
  text-align: center;
  font-weight: 100;
}

img{
	position:absulute;
	right:5px;
	top:5px;
}

img{float:center;}






.page-description {
 

  padding: 10px; 



}


h1 {
	font-family:" Times New Roman",Times, serif;
	color: red;
}

h3 {
	
	font-family:" Times New Roman",Times, serif;
	color: red;
	}

h4{
	font-family:" Times New Roman",Times, serif;
	
p {
  
}


}
