
body {
	background-color:#fefbd8;
	font-family:" Times New Roman",Times, serif;
	height: 100%;
	margin: 0;
	width: 100%;
}

h1 {
	font-family:" Times New Roman",Times, serif;
	color: red;
}

h2 {
	
}


p {
  
}

.hero a {
	color: #00FFAA;
	font-size: 1.25em;
	text-decoration: none;
}
